@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Bold;

    
}

.container {
    max-width: 1110px;
    height: 1000px;
    margin: 0 auto;
    position: relative; /* เพิ่ม position เพื่อให้ z-index ใช้ได้ */
    z-index: 1; /* ให้ .container อยู่ด้านหลัง */
    background-color: ;
}

header {
    width: 100%;
    height: auto;
    background: url('img/bg1.png') no-repeat;
    background-position: right;
    position: relative; /* เพิ่ม position เพื่อให้ z-index ใช้ได้ */
    z-index: 10; /* ให้ header อยู่ด้านหน้า .container */

}
nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
}




.logo {
    color: #6A42C2;



}
.header-info {
    margin-top: 250px;
    width: 540px;

}

.header-title h1 {
    font-size: 65px;
    color: #6A42C2;
}

.header-content p {
    margin-top: 20px;
    color: #6A42C2;
}

.header-btn {
    margin-top: 50px;
}

.netflix {
    background: #563A9C;
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 15px;


}

.powerful-con h1 {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    display: flex;
    font-size: 65px;
    color: #6A42C2;
}

.powerful .container {
    background: url('img/bg2.png') no-repeat;
    background-size: 500px;
    background-position: center;


}






.powerful-info p {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    color: #8B5DFF;



}
